* {
  box-sizing: border-box;
}

body {
  margin: 10px 30px;
  font-family: 'Inter', sans-serif;
}

h1,
p {
  margin: 0px;
}



.header--div {
  height: 50px;
  background-color: #f55a5a;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 65px;
}

.header--title {
  font-size: 15px;
  color: #ffffff;
  padding-left: 7px;
}

.location--div--main {
  display: flex;
  justify-content: center;
}

.location--div {
  height: 168px;
  width: 470px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.location--details {
  width: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.location--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.location--location {
  display: flex;
  align-items: baseline;
  color: #f55a5a;
  font-size: 13.5px;
}

.location--location > p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14em;
  color: #2b283a;
  margin-left: 4px;
  margin-right: 12px;
}

.googleMapLink {
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}

.location--title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}

.location--dates {
  font-weight: 700;
  font-size: 11.5px;
  line-height: 12px;
  color: #2b283a;
}

.location--description {
font-weight: 400;
font-size: 13px;
line-height: 17px;
color: #2B283A;
}
